/*Publico*/
body, ul, li, p{
  margin: 0;
  padding: 0px;
  list-style: none;
  font-size: 17px;
  font-family: arial;
}


/*Header*/
li a{
text-decoration: none;
color: white;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  background-color: #053C5E;
}

.menu{
display: flex;
margin-right: 120px;
}

.menu li{
margin-left: 10px;
}

.menu li {
display: block;
padding: 10px;
}

.logo{
  margin: 8px;
  margin-left: 80px;
  width: 70px;
  align-items: center;
}

.aMenu:hover{
  color: #F26430;
  font-weight:bold;
}

.hamburguer{
display: none;
font-size:30px;
color: white;
margin-right: 10px;
}
.manchete-home1{
  background-color: #f1f1f1;
  text-align: center;

  display: flex;

  flex-direction: column;
}

.contato-contato{
  margin-top: 29px;
  font-weight: bold;
}


/*Main*/
.main-contato{
  display: flex;

  justify-content: center;
  color: white;
  margin-top: 50px;
  
}


.ladoEsquedo-contato h2{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.ladoDireito-contato h3{
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.redesSociais-contato{
  background-color: #053C5E;
  height: 30%;
  width: 100%;

  border-radius: 28px;
}

.redesSociais-contato img{
  width: 20px;

  margin-right: 44% ;
}

.email-contato-esquerda{
  background-color: #053C5E;
  height: 30%;
  width: 100%;

  border-radius: 28px;
  margin-top:10px ;
}
.email-contato-esquerda p{
  text-align: center;
  font-size: 12px;
}

.telefone-contato-esquerda{
  background-color: #053C5E;
  height: 30%;
  width: 100%;

  border-radius: 28px;
  margin-top: 10px;
}
.telefone-contato-esquerda p {
  text-align: center;
  font-size: 14px;
}

/*Espaço entre as div*/
.space-contato{
  padding: 3%;
}

.nome-contato{
  height: 10%;
  width: 40%;

  border-radius: 9px;
  
}
::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

.telefone-contato{
  
  height: 10%;
  width: 35%;

  border-radius: 9px;
}


.email-contato-direita{
  
  height: 10%;
  width: 80%;
  margin-top: 10px;
  border-radius: 9px;
}

.deixeMensagem-contato{
  
  
  height: 115px;
  width: 80%;
  margin-top: 10px;
  border-radius: 9px;
}

.enviar-contato{
  background-color: #F26430;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  height: 30px;
  margin-top: 10px;
}

.redes{
  display: flex;
  justify-items: center;
  align-items: center;

}

.linkedin{
  border-right: 10px;
}
/*Footer*/
.footer-home{
  justify-content: center;
  height: 140px;
  background-color: #053C5E;
  width: 100%;
  text-align: center;
  margin-top: 60px;

  position: relative; /*Solução para fixar o footer no fim da pag*/
  bottom: 0px; /*Solução para fixar o footer no fim da pag*/
}

.copyrightRodape{
color: white;
font-weight: bold;
font-size: 15px;
position: relative;
top: 50%;
}



/*Media*/
@media (max-width: 800px) {
  .footer-home{
    position: fixed; /*Solução para fixar o footer no fim da pag*/
    bottom: 0px; /*Solução para fixar o footer no fim da pag*/
  }
.copyrightRodape{
    position: relative;
    top: 40%;
    }
}
  
  
@media (max-width: 650px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
}
  
  
@media (max-width: 574px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
} 
  
  
@media (max-width: 380px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
}