/*Publico*/
body, ul, li, p{
  margin: 0;
  padding: 0px;
  list-style: none;
  font-size: 17px;
  font-family: arial;
}

/*Header*/
li a{
text-decoration: none;
color: white;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  background-color: #053C5E;
}

.menu{
display: flex;
margin-right: 120px;
}

.menu li{
margin-left: 10px;
}

.menu li {
display: block;
padding: 10px;
}

.logo{
  margin: 8px;
  margin-left: 80px;
  width: 70px;
  align-items: center;
}

.aMenu:hover{
  color: #F26430;
  font-weight:bold;
}

.hamburguer{
display: none;
font-size:30px;
color: white;
margin-right: 10px;
}


/*Main*/
/*Página currículo cv.html*/

.pag-cv{
  text-align: center;
  margin-top: 40px;

  font-size: 30px;
  font-weight: bold;
}
.cv{
  text-align: center;   
}

.curriculo{
  width: 500px;

  margin-top: 30px;
}



/*Footer*/
.footer-home{
  display: flex;
  justify-content: center;
  height: 140px;
  background-color: #053C5E;

  margin-top: 30px;
}

.copyrightRodape{
color: white;
font-weight: bold;
font-size: 15px;
margin-top: 70px;
}


/*Media*/
@media (max-width: 800px) {
.menu {
  margin-right: 80px;
  margin-top: 10px;
  font-size: 15px;
}

li{
font-size: 14px;
}

.logo{
width: 64px;
}

.h1-home {
font-size: 28px;
margin: 75px 0 0;
}
}


@media (max-width: 650px) { 
.menu {
  display: none;
  /*HAMBURGER - Abaixo*/
}

.hamburguer{
display: block;
margin-right: 65px;
}

.pag-cv{
  font-size: 25px;
}

.curriculo{
  width: 430px;
}
}


@media (max-width: 574px) { 
.logo{
  width: 54px;
  margin-left: 42px;
}

.hamburguer{
  margin-right: 60px;
}

.pag-cv{
  font-size: 23px;
}
.curriculo{
  width: 350px;
}
.footer-home {
  display: flex;
  justify-content: center;
  height: 90px;
  } 
  
  .copyrightRodape {
  font-size: 12px;
  margin-top: 43px;
  }
}


@media (max-width: 380px) { 
.logo{
width: 54px;
margin-left: 10px;
}

.pag-cv{
  font-size: 20px;
  margin-top: 30px;
}

.curriculo{
  width: 300px;
  margin-top: 20px;
}
.footer-home{
  bottom: 0;
 
}
}