/*Publico*/
body, ul, li, p{
  margin: 0;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: arial;
}

li a{
text-decoration: none;
color: white;

}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  background-color: #053C5E;
}


/*Página Home*/
.h1-home{
font-size: 55px;
font-weight: bold;
margin: 60px;
}

.paragrafo-home{
font-size: 25px;
}

.menu{
display: flex;
}

.menu li{
margin-left: 10px;
}

.menu li {
display: block;
padding: 10px;

}
.logo{
margin: 1px;
width: 110px;
align-items: center;
}

.mainPortifolio{
display: flex;
justify-content: center;
}

a:hover{
  color: #F26430;
  font-weight:bold;
}




/*Footer*/
.footer-home{
display: flex;
justify-content: center;
height: 250px;
background-color: #053C5E;
}

.copyrightRodape{
color: white;
font-weight: bold;
font-size: 22px;
margin-top: 110px;
}
