/*Publico*/
body, ul, li, p{
  margin: 0;
  padding: 0px;
  list-style: none;
  font-size: 17px;
  font-family: arial;
}

/*Header*/
li a{
text-decoration: none;
color: white;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  background-color: #053C5E;
}

.menu{
display: flex;
margin-right: 120px;
}

.menu li{
margin-left: 10px;
}

.menu li {
display: block;
padding: 10px;
}

.logo{
  margin: 8px;
  margin-left: 80px;
  width: 70px;
  align-items: center;
}

.aMenu:hover{
  color: #F26430;
  font-weight:bold;
}

.hamburguer{
display: none;
font-size:30px;
color: white;
margin-right: 10px;
}


/*Página Home*/
main{
  color: black;   
}

.manchete-home{
  text-align: center;
  height: 0px;
}

.frase-coronel-home{
  background-color: #f1f1f1;
  color: #000000;

  font-family: Roboto;
  font-size: 17px;
}

.logo-cv-home{
  width: 60px;
  margin: -9px;
  padding: 10px;
}

.texto-cv-home{
  text-decoration: none;
}

.pdf{
  width: 50px;
  margin: -9px;
  padding: 10px;
}



/*Main*/
.emConstrucaoSobre{
  width: 50%;
  margin-left: 20%;
  margin-top: 10%;
}

/*Footer*/
.footer-home{
  justify-content: center;
  height: 140px;
  background-color: #053C5E;
  width: 100%;
  text-align: center;

  position: relative; /*Solução para fixar o footer no fim da pag*/
  bottom: 0px; /*Solução para fixar o footer no fim da pag*/
}

.copyrightRodape{
color: white;
font-weight: bold;
font-size: 15px;
position: relative;
top: 50%;
}



/*Media*/
@media (max-width: 800px) {
  .footer-home{
    position: fixed; /*Solução para fixar o footer no fim da pag*/
    bottom: 0px; /*Solução para fixar o footer no fim da pag*/
  }
.copyrightRodape{
    position: relative;
    top: 40%;
    }
  }
  
  
  @media (max-width: 650px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
  }
  
  
  @media (max-width: 574px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
  } 
  
  
  @media (max-width: 380px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
  }