/*Publico*/
body, ul, li, p{
  margin: 0;
  padding: 0px;
  list-style: none;
  font-size: 17px;
  font-family: arial;
}

/*Header*/
li a{
text-decoration: none;
color: white;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  background-color: #053C5E;
}

.menu{
display: flex;
margin-right: 120px;
}

.menu li{
margin-left: 10px;
}

.menu li {
display: block;
padding: 10px;
}

.logo{
  margin: 8px;
  margin-left: 80px;
  width: 70px;
  align-items: center;
}

.aMenu:hover{
  color: #F26430;
  font-weight:bold;
}

.hamburguer{
display: none;
font-size:30px;
color: white;
margin-right: 10px;
}


/*Página Home*/
/*Manchete*/
.manchete-home1{
  background-color: #f1f1f1;
  text-align: center;

  display: flex;

  flex-direction: column;
}

.nome-lucas-rodrigues-estefano{
  margin-top: 29px;
}
.pdf-cv{
  width: 30px;

  margin-right: 870px;
  margin-top: -122px;
}


/*Main*/

.inicio-pag{
  display: flex;
}


.emConstrucaoSobre{
  width: 50%;
  margin-left: 20%;
  margin-top: 10%;
}


/*Footer*/
.footer-home{
  justify-content: center;
  height: 140px;
  background-color: #053C5E;
  width: 100%;
  text-align: center;

  position: relative; /*Solução para fixar o footer no fim da pag*/
  bottom: 0px; /*Solução para fixar o footer no fim da pag*/
}

.copyrightRodape{
color: white;
font-weight: bold;
font-size: 15px;
position: relative;
top: 50%;
}



/*Media Query*/
@media (max-width: 800px) {
  .footer-home{
    position: fixed; /*Solução para fixar o footer no fim da pag*/
    bottom: 0px; /*Solução para fixar o footer no fim da pag*/
  }

.copyrightRodape{
    position: relative;
    top: 40%;
    }
  }
  

  @media (max-width: 650px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
  }
  

  @media (max-width: 574px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
  } 
  
  
  @media (max-width: 380px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
  }