/*Publico*/
body, ul, li, p{
  margin: 0;
  padding: 0px;
  list-style: none;
  font-size: 17px;
  font-family: arial;
}

/*Header*/
li a{
text-decoration: none;
color: white;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  background-color: #053C5E;
}

.menu{
display: flex;
margin-right: 120px;
}

.menu li{
margin-left: 10px;
}

.menu li {
display: block;
padding: 10px;
}

.logo{
  margin: 8px;
  margin-left: 80px;
  width: 70px;
  align-items: center;
}

.aMenu:hover{
  color: #F26430;
  font-weight:bold;
}

.hamburguer{
display: none;
font-size:30px;
color: white;
margin-right: 10px;
}


/*Página Home*/
/*Manchete*/
.manchete-home1{
  background-color: #f1f1f1;
  text-align: center;

  display: flex;

  flex-direction: column;
}

.nome-lucas-rodrigues-estefano{
  margin-top: 29px;
}
.pdf-cv{
  width: 30px;
  margin-right: 1311px;
  margin-top: -123px;
}


/*Main*/

.inicio-pag{
  display: flex;
  margin-top: 20px;
}

.conteudoEsquerda{
  margin: 0 50px 0 35px;
  margin-left: 100px;
}

.conteudoDireita{
  text-align: center;
  margin-right: 135px;
}

.imagemLucas{
  width: 250px;
  
}

.redesSociais{
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
}

.linkSite{
  font-size: 13px;
  margin-top: 1px;
}
.emConstrucaoSobre{
  width: 50%;
  margin-left: 20%;
  margin-top: 10%;
}

.conteudoCentral{
  background-color: #e7f3fa;
}

.habilidades{
  text-align: center;
  font-weight: bold;

  margin-bottom: 0%;
}


/*Habilidades*/
.conhecimentos{
  margin-left: 25%; 
  margin-top: 1%; 


}

/*Experiencias */
.contanerHabilidades{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.ladoEsquerdo{
  text-align: center;
  margin-right: 110px;
}


.faculdade{
  background-color: #053C5E;
  color: white;
  width: 320px;
  Height: 120px;
  border-radius: 47px 47px;

  text-align: center;  
}

.fullsStack{
  background-color: #053C5E;
  color: white;
  width: 320px;
  Height: 120px;
  border-radius: 47px 47px;

  text-align: center;  

  margin-top: 25px;
}

.certificacao{
  background-color: #053C5E;
  color: white;
  width: 320px;
  Height: 120px;
  border-radius: 47px 47px;

  text-align: center;  

  margin-top: 25px;
}

.cursosOnline{
  background-color: #053C5E;
  color: white;
  width: 320px;
  Height: 570px;
  border-radius: 47px 47px;

  text-align: center;  

  margin-top: 25px;
}
.ladoDireito{
  text-align: center;
  margin-left: 110px;
}

.acomip{
  background-color: #053C5E;
  color: white;
  width: 320px;
  Height: 120px;
  border-radius: 47px 47px;

  text-align: center;
  margin: auto;
}

.exercito{
  background-color: #053C5E;
  color: white;
  width: 320px;
  Height: 120px;
  border-radius: 47px 47px;

  margin-top: 25px;

  text-align: center;
  margin-left: 35px;
}

/*Footer*/
.footer-home{
  justify-content: center;
  height: 140px;
  background-color: #053C5E;
  width: 100%;
  text-align: center;

  position: relative; /*Solução para fixar o footer no fim da pag*/
  bottom: 0px; /*Solução para fixar o footer no fim da pag*/

  margin-top: 50px;
}

.copyrightRodape{
color: white;
font-weight: bold;
font-size: 15px;
position: relative;
top: 50%;
}



/*Media Query*/
@media (max-width: 800px) {
  .footer-home{
    position: fixed; /*Solução para fixar o footer no fim da pag*/
    bottom: 0px; /*Solução para fixar o footer no fim da pag*/
  }

.copyrightRodape{
    position: relative;
    top: 40%;
    }
  }
  

  @media (max-width: 650px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
  }
  

  @media (max-width: 574px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
  } 
  
  
  @media (max-width: 380px) { 
    .footer-home{
      position: fixed; /*Solução para fixar o footer no fim da pag*/
      bottom: 0px; /*Solução para fixar o footer no fim da pag*/
    }
  .copyrightRodape{
    position: relative;
    top: 40%;
      }
  }